<launch>
  <!-- Map server -->
  <arg name="map_file" default="$(env TURTLEBOT_GAZEBO_MAP_FILE)"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Localization -->
  <arg name="initial_pose_x" default="1"/>
  <arg name="initial_pose_y" default="0"/>
  <arg name="initial_pose_a" default="0.13"/>
  <arg name="custom_amcl_launch_file" default="$(find robot_gazebo)/launch/includes/amcl/amcl_jackal.launch.xml"/> 

  <include file="$(arg custom_amcl_launch_file)">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- Move base -->
  <include file="$(find robot_gazebo)/launch/includes/move_base_jackal.launch.xml"/>
  <!--include file="$(find jackal_navigation)/launch/include/move_base.launch" /-->

  <!-- Goal visualization -->
  <node pkg="nav_cnn" name="goal_visualize" type="goal_visualize.py" output="screen" />

</launch>
