<launch>
  <!-- Map server -->
  <arg name="map_file" default="$(find robot_gazebo)/maps/gazebo_eng_lobby/gazebo_eng_lobby.yaml"/>
  <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>  <!-- r200, kinect, asus_xtion_pro -->

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Localization -->
  <arg name="initial_pose_x" default="1"/>
  <arg name="initial_pose_y" default="0"/>
  <arg name="initial_pose_a" default="0.1377"/>
  <arg name="custom_amcl_launch_file" default="$(find robot_gazebo)/launch/includes/amcl/amcl.launch.xml"/> 

  <include file="$(arg custom_amcl_launch_file)">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- Move base -->
 <include file="$(find robot_gazebo)/launch/includes/move_base_joy.launch.xml"/>

  <!-- Goal visualization -->
  <node pkg="drl_vo_nav" name="goal_visualize" type="goal_visualize.py" output="screen" />

  <!-- Joy control -->
  <include file="$(find robot_gazebo)/launch/teleop_joy.launch"/>

  <!-- Switch cmd vel -->
  <node pkg="drl_vo_nav" name="mix_cmd_vel" type="cmd_vel_switch.py" output="screen" >
    <remap from="cmd_vel" to="teleop_velocity_smoother/raw_cmd_vel"/>
  </node>  

</launch>
